form{
  display: inherit;
   text-align: center;
}:root{
   --mainDark: #343a40;
   --mainGray: rgba(109,109,109);
   --mainLightGrey: rgba(172,172,172);
   --mainBlue: #007bff;
   --mainWhite:#fff;
 }
 
 .navbar-toggler:focus{
   outline: none;
 }
 .navbar-toggler{
   border: none;
 }
 
 
 .dropdown:hover .dropdown-menu {
   display: block;
 }
 .navbar-toggler:hover .navbar-collapse .navbar:hover{
 
   display: block;
 }
 
 .App {
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 1em;
  text-align: left;
  width: 600px;
}
 
.form {
  padding: 1em;
}
 
label {
  font-weight: 600;
}
.icon{
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}
.login-form,
.signup-form{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}
.formas-registros{
  width: 100%;
  max-width: 550px;
  padding: 15px;
  margin: auto;
  height: 100%;
}
.text-center {
  padding-top: 25px;
}
.div-center{
  text-align: center;
}
